/******* Estilos Generales ********/
*{
	outline: none;
	outline-width: 0;
}
body,html{
	border: 0;
	padding: 0;
	margin: 0;
	background: rgba(0,165,171,1);
	font-family: sans-serif;
}
.wrap {
	width: 100%;
	max-width: 920px;
	font-size: 0px;
	margin: 0 auto;
}
h1 {
	font-size: 24px;
	color: #fff;
	text-align: center;
}
p {
	font-size: 16px;
	padding: 20px;
	color: #fff;
	text-align: center;
}
.images_content {
	text-align: center;
}
/****** Figuras Geometricas ******/
.content_item{
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    margin: 30px;
    transition: 1s;
}

.images_content .item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	
}
.content_item:hover{
	transform: scale(1.1);
}
/****** Circulo ********/
.background.cir {
    background: url(../img/img1.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 100%;
}
/****** Rectangulo ********/
.background.rec {
    background: url(../img/img2.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/****** Cuadrado ********/
.background.cua {
    background: url(../img/img3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/****** Triangulo ********/

.images_content .item.tri {
    transform: rotate(45deg) skew(15deg,15deg);
    margin: 53% 0 0 0;
}
.background.tri {
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: url(../img/img4.jpg);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    transform:rotate(-45deg);
}


/********* Modal Box ***********/
.modal_box {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,165,171,1);
	z-index: 999;
	display: none;

}
.modal_box h2 {
	font-size: 20px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.modal_box img {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: auto;
	height: auto;
	max-width: 80%;
	max-height: 80%;
}
.modal_box .close {
	background: url(../img/close.png);
	border: none;
	background-repeat: no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 30px;
	top: 30px;
}

@media screen and (min-width: 700px) and (max-width: 900px){
	.content_item{
		width: 250px;
		height: 250px;
	}
}
@media screen and (min-width: 520px) and (max-width: 699px){
	.content_item{
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 519px){
	.content_item{
		width: 300px;
		height: 300px;
		margin: 20px;
	}
}